name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Build the Docker image
      - uses: actions/checkout@v3
      - run: |
          docker build ./build --tag epgstation-docker:$(date +%s)
          docker save epgstation-docker> epgstation-docker.tar
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
      - with:
         name: epgstation-docker
         path: epgstation-docker.tar
